@font-face {
    font-family: 'Orbitron';
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.9rem;
    line-height: 1.5;
    letter-spacing: 0.1rem;
}

body {
    background-image: url('../images/background-space.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    color: #C8C4D3;
}
.container {
    position: relative;
    min-height: 100vh;
}
header {
    background-color: #1f174179;
    padding: 0.4rem;
}

h1 {
    text-align: center;
    margin: 0.4rem;
    color: #C8C4D3;
}
h1 a {
    font-size: 1.5rem;
}


.heading {
    padding: 1rem;
    font-size: 1.5rem;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0.2rem;
}

li {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

li:hover {
    color: #584D7D;
    background-color: #403465;
}


a {
    text-decoration: none;
    color: #C8C4D3;
}

main {
    width: 85%;
    margin: 0 auto;
    padding: 1rem;
    display: grid;
    gap: 20px;
    padding-bottom: 8rem;
}

section {
    background-color: rgb(31, 23, 65, 0.7) ;
    margin: 0.8rem;
    padding: 1.6rem;
    border-radius: 5px;
    text-align: center;
}
aside {
    background-color: #1f174179;
    text-align: center;
    padding-bottom: 7rem;
    padding-top: 1rem;
}

img {
    width: 20rem;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    padding: 0.8rem;
}

#google-form {
    width: 80%;
    height: 1200px;
}

#blue {
    color: rgb(70, 188, 247);
}

.yellow {
    color: rgb(181, 181, 0);
}

#location-img {
    width: 60rem;
    height: auto;
} 


#aboutUs {
    width: 30em;
    height: auto;
}

#location-h2 {
    font-size: 2rem;
}

#location-h3 {
    font-size: 1.2rem;
}

#date {
    font-size: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1f174179;
    padding: 1.2rem;
    text-align: center;
}

.copyrightAndPrivacy {
    font-size: 0.6rem;
}

@media only screen and (min-width: 641px) and (max-width: 992px) {
    * {
        font-size: 1rem;
    }

    main {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    h1 a {
        font-size: 1.6rem;
    }
    .tooltip {
        right: 5rem;
        bottom: 5rem; 
    }
}


@media only screen and (min-width: 993px) {

    * {
        font-size: 1.1rem;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }


    h1 a {
        font-size: 1.8rem;
    }
    .tooltip {
        bottom: 5rem;
        right: 5rem; 
    }
}


/* Form CSS */

form {
    width: 70vw;
    max-width: 700px;
    margin: 0 auto;
    background-color: #1f174179;
    padding: 2rem;
    border-radius: 5px;
}
  
fieldset {
    border: none;
}
  
label {
    display: block;
    margin: 0.6rem 0;
}
  
input {
    margin: 0.2rem;
    padding: 0.3rem;
    width: 90%;
    min-height: 1.6rem;
    max-height: 2.2rem;
    background-color: #584D7D;
    border: 2px solid #130f1e;
    color: #C8C4D3;
}
  
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1rem auto;
    height: 2rem;
    font-size: 1.1rem;
    background-color: #584D7D;
    border-color: #C8C4D3;
}

.toolTip {
    position: relative;
}

.tooltip {
	display: block; 
	position: absolute; 
	visibility: hidden;
	right: 0;
	bottom: 0; 
	width: 10em;
	padding: 0.5em;
	font-weight: normal;
	color: #C8C4D3;
	background-color: #584D7D;
	border:solid 2px #403465;
}

.error, .error2 {
	color: #D92525;
}

.error::before {
	content: 'x ';
}

.correct, .correct2 {
	color: #126c18;
}
