@font-face {
    font-family: 'Orbitron';
    src: url(../fonts/Orbitron-VariableFont_wght.ttf);
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 0.9rem;
}

body {
    background-image: url("../images/background-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    color: #C8C4D3;
    border: 1px solid black;
}
.container {
    position: relative;
    min-height: 100vh;
}
header {
    background-color: #1f174179;
    padding: 0.4rem;
}

h1 {
    text-align: center;
    margin: 0.4rem;
    color: #C8C4D3;
}
h1 a {
    font-size: 1.5rem;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0.2rem;
}

li {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

li:hover {
    color: #584D7D;
    background-color: #403465;
}


a {
    text-decoration: none;
    color: #C8C4D3;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1f174179;
    padding: 1.2rem;
    text-align: center;
}

@media only screen and (min-width: 641px) and (max-width: 992px) {
    * {
        font-size: 1rem;
    }

    body {
        background-image: url("../images/background-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    h1 a {
        font-size: 1.6rem;
    }
}


@media only screen and (min-width: 993px) {

    * {
        font-size: 1.1rem;
    }

    body {
        background-image: url("../images/background-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
    }

    h1 a {
        font-size: 1.8rem;
    }
}